#deepl_api_key{
    width: 20em;
    padding: 3px;
    margin: 0 0 0.5em 0;
}

.text_box{
    display: inline-block;
    width: 100%;
    padding: 10px;
    border: 1px solid #999;
    box-sizing: border-box;
    background: #f2f2f2;
    margin: 0 0 0.5em 0;
    line-height: 1.5;
    height: 40em;
}

#output{
    padding: 10px;
}

#input_block {
    float: left;
    width: 50%;
    height: auto;
 }
#output_block {
    float: right;
    width: 50%;
    height: auto;
}

#run_translation {
    width: 10em;
    height: 5em;
    background: #e9d1ad;
    border: 1px solid #999;    
}
